<nav class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="alumnos/lista2" [routerLinkActive]="'active'"> Alumnos </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="cursos" [routerLinkActive]="'active'"> Cursos </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="inscripciones" [routerLinkActive]="'active'"> Inscripciones </a>
        </li>
    </ul>
</nav>