<div class="container">
    <h2>Register</h2>
    <form class="row g-3" [formGroup]="registerForm" (ngSubmit)="sendForm()">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4" formControlName="email">
          <small *ngIf="email?.invalid && email?.touched" class="text-danger">Email is Required</small> 
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword4" formControlName="password">
          <small *ngIf="password?.invalid && password?.touched" class="text-danger">Password is Required</small>
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" formControlName="address">
          <small *ngIf="address?.invalid && address?.touched" class="text-danger">Address is Required</small>
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" formControlName="address2">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity" formControlName="city">
          <small *ngIf="city?.invalid && city?.touched" class="text-danger">City is Required</small>
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select" formControlName="state">
            <option selected>State 1</option>
            <option>State 2</option>
            <option>State 3</option>
          </select>
          <small *ngIf="state?.invalid && state?.touched" class="text-danger">State is Required</small>
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip" formControlName="zip">
          <small *ngIf="zip?.invalid && zip?.touched" class="text-danger">Zip is Required</small>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Sign Up</button>
        </div>
      </form>
</div>