<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="inicio">PF Coder House</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex" id="navbarText">
        <span class="px-5 navbar-text">Ruta: {{ruta}}</span>
        <span class="navbar-text px-5">
          <ng-container *ngIf="usuarioActivo$ | async as usuario">
            <span> Usuario: {{usuario.usuario}}</span>
          </ng-container>
        </span>
      </div>
    </div>
  </nav>
