<h1 appSetsize20>Students</h1>
<mat-form-field>
    <mat-label>Search</mat-label>
    <input type="text" (keyup)="filtrar($event)" matInput>
</mat-form-field>

<ng-container>
    <button mat-raised-button color="primary" (click)="crear()">Add Student</button>
</ng-container>

<table mat-table [dataSource]="dataSource">
    <!-- Columna Nombre -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name | namelastname: element.lastname }}</td>
    </ng-container>

    <!-- Columna Comision
    <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef>Lastname</th>
        <td mat-cell *matCellDef="let element">{{ element.lastname }}</td>
    </ng-container> -->

    <!-- Columna Profesor -->
    <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef>DNI</th>
        <td mat-cell *matCellDef="let element">{{ element.dni }}</td>
    </ng-container>

    <!-- Columna Numero de Estudiantes -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Columna Numero de Estudiantes -->
    <ng-container matColumnDef="courses">
        <th mat-header-cell *matHeaderCellDef>Courses</th>
        <td mat-cell *matCellDef="let element">{{ element.Courses }}</td>
    </ng-container>

    <!-- Columna Acciones -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Edit / Delete</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="editar(element)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="eliminar(element)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table>

